body {
  background-color: beige;
}

h1 {
  color: blueviolet;
  background-color: rgb(241, 219, 191);
  text-align: center;
  letter-spacing: 10px;
  font-size: 5em;
  font-family: "Gill Sans", sans-serif;
}

h1:hover {
  color: black;
}

h2 {
  color: blueviolet;
  background-color: rgb(241, 219, 191);
}

h2::first-letter {
  font-size: xx-large;
}

footer {
  background-color: rgb(241, 219, 191);
}

p {
  line-height: 2.5; /*interlineado*/
}

main > p {
  background-color: cadetblue; /*direct child*/
}

/*h1, h2 = estilo a todos los que se vayan enumerando 
h1 h2 = estilo a los h2 dentro de h1
h1 > h2 = estilo a los h2 que siguen inmediatamente a los h1
h1 + h2 = estilo a los h2 que estan no dentro de los h1, pero inmediatamente seguido debajo

*/

input[type="email"] {
  color: darkgoldenrod; /*cambia el color de lo que ingrese dentro del input de tipo email*/
}
