body {
    background-color: beige;
}

h1 {
    color: blueviolet;
    background-color: rgb(241, 219, 191);
}

h2 {
    color: blueviolet;
    background-color: rgb(241, 219, 191);
}

footer {
    background-color: rgb(241, 219, 191);
}