body {
    background-color: beige;
}

h1 {
    color: blueviolet;
    background-color: rgb(241, 219, 191);
    text-align: center;
    letter-spacing: 10px;
    font-size: 5em;
    font-family:'Gill Sans', sans-serif;
}

h2 {
    color: blueviolet;
    background-color: rgb(241, 219, 191);
}

footer {
    background-color: rgb(241, 219, 191);
}

p{
    line-height: 2.5; /*interlineado*/
}